:root {
  --primary-color: #111827;
  --accent-color: #F59E0B;
  --off-white: #FAFAF9;
  --main-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  --small-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

html{
  background-color: var(--primary-color);
}

body{
  min-width: 400px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-color);
}

p {
  margin-bottom: 1rem;
}

p,
a {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-color);
}

h1,
h2 {
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.btn {
  background-color: var(--primary-color);
  color: var(--off-white);
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  text-align: center;
}

.btn:hover {
  background-color: var(--accent-color);
  color: var(--off-white);
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.section {
  margin: 4rem 0;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.top {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  text-align: center;
  max-width: 720px;
  position: relative;
  top: 6vh;
  padding: 4rem 6rem;
  margin: 3rem 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: var(--main-shadow);
}

.avatar {
  height: 20vh;
  width: 20vh;
  background-color: black;
  border-radius: 50%;
  box-shadow: var(--main-shadow);
  background-image: url("../assets/index/avatar.png");
  background-size: cover;
}

.header__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  font-weight: 300;
}

.header__btn {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.header__btn:visited {
  background-color: var(--primary-color);
  color: var(--off-white);
}

.header__paragraph {
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.shadow {
  box-shadow: var(--small-shadow);
}

@media (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 3.5rem;
  }

  .header{
    padding: 4rem 2rem;
  }

  .header__subtitle{
    font-size: 1.25rem;
  }
}