body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #5E335F;
    color: white;
    margin:0;
}

#navbar {
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    background-color: #4c2c4d;
    position: fixed;
    top: 0;
    /* border: 2px solid black; */
}
.navbar-title{
    white-space: nowrap;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: max-content;
    max-width: min-content;
    /* border: 2px solid orange; */
}
.navbar-entry {
    white-space: nowrap;
    width: 10%;
    display: inline-flex;
    min-width: max-content;
    /* border: 2px solid green; */
}

#page-container {
    position: relative;
    min-height: 90vh;
    width: 100%;
    /* border: 2px solid brown; */
}
#content-wrap {
    margin-top: 58px;
    display:flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    height: calc(100vh - 68px);
    /* border: 2px solid white; */
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - 105px);
    /* border: 2px solid blue; */
}

#footer {
    position: absolute;
    text-align: center;
    font-size: small;
    width: 100%;
    background-color: #4c2c4d;
    bottom: 0;
    /* border: 2px solid red; */
}

.bordered-text {
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.buttoneffects {
    transition-duration: 0.4s;
}
.buttoneffects:hover {
    background-color: #4c2c4d;
    color: white;
}
.nav-button {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.nav-buttoneffects {
    transition-duration: 0.4s;
}
.nav-buttoneffects:hover {
    background-color: #5E335F;
    color: white;
}

.resize-image {
    width: 50%;
    height: 50%;
    object-fit: contain;
}
h1 {
    margin: 0px;
}
.hyperlink-stylestrip {
    text-decoration:none; 
    color:inherit
}